#helloPanel {
    border: 1px rgb(189, 119, 119) dashed;
}

.plugin-sample {
    &__custom-tab {
        background-color: var(--b3-theme-background);
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__custom-dock {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__time {
        background: var(--b3-card-info-background);
        border-radius: 4px;
        padding: 2px 8px;
    }
}

.zoom_content { //竖向居中
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    order: 999999998 !important //trying to keep the ? at the all the way to right
}

#statusHelp {
    order: 999999999 !important //trying to keep the ? at the all the way to right
}